.work {
    padding-top: 47px;
    padding-bottom: 94px;
  }
  .work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.67;
    letter-spacing: 0.03em;
    color: var(--text-color-two);
    text-align: center;
    margin-bottom: 50px;
  }
  .work-list {
    display: flex;
    gap: 30px;
  }
  .work-image {
    position: relative;
  }
  .work-container {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 370px;
    height: 70px;
    justify-content: center;
    align-items: center;
    background: rgba(47, 48, 58, 0.8);
  }
  .work-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-color-one);
  }